:root {
    --text-primary: #1a1a1a;
    --border-radius: .2rem;
    --secondary-color: #b7f6b0;
    --text-secondary: #3e3e3e;
    --box-shadow: 0px 0px 1rem rgba(0, 0, 0, .5);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: normal 1rem/1.5 'Montserrat', sans-serif;
    color: var(--text-primary);
    overflow-X: hidden;
    background: linear-gradient(to right top, #fff, #fafafa, #f5f5f5, #f1f1f1, #e1e1e1), url(/02.png);
    background-blend-mode: multiply;
}

/* Timeline================================ */
#timeline {
    overflow-x: hidden;
    margin-bottom: 3rem;
}

#timeline h1 {
    padding: 2rem 2.5rem;
    text-align: center;
    font-size: 2.3rem;
}

#timeline ul li {
    list-style: none;
}

/* Create Line */
#timeline>ul>li {
    position: relative;
    width: .4rem;
    margin: 0 auto;
    padding-top: 50px;
    background: var(--text-primary);
    border-radius: var(--border-radius);
}

/* Boxes */
#timeline ul li div {
    position: relative;
    bottom: 0;
    width: 25rem;
    padding: 1rem 1.5rem;
    background: var(--secondary-color);
    transition: all .5s ease-in-out;
    visibility: hidden;
    opacity: 0;
    border-radius: var(--border-radius);
}

/* Right Side */
#timeline ul li:nth-child(odd) div {
    left: 2.5rem;
    transform: translate(12.5rem, 0);
}

/* Left Side */
#timeline ul li:nth-child(even) div {
    left: calc(-25rem - 2.5rem + .4rem);
    transform: translate(-12.5rem, 0);
}

/* Dots */
#timeline>ul>li::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    background: inherit;
    width: 1rem;
    height: 1rem;
    transform: translateX(-50%);
    border-radius: 50%;
    transition: background .5s ease-in-out;
}

#timeline ul li.show::after {
    background: var(--secondary-color);
    border: .4rem solid var(--text-secondary);
    box-sizing: content-box;
}

/* Arrows base */
#timeline div::before {
    content: '';
    position: absolute;
    bottom: 5px;
    width: 0;
    height: 0;
    border: solid;
}

/* Right Side Arrows */
#timeline ul li:nth-child(odd) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent var(--secondary-color)transparent transparent;
}

/* Left Side Arrows */
#timeline ul li:nth-child(even) div::before {
    right: -15px;
    border-width: 8px 0px 8px 16px;
    border-color: transparent transparent transparent var(--secondary-color);
}

/* Show boxes */
#timeline ul li.show div {
    transform: none;
    visibility: visible;
    opacity: 1;
    box-shadow: var(--box-shadow);
}

/* Media Queries */

@media(max-width: 900px){
    #timeline ul li div {
        width: 16rem;
    }
    #timeline ul li:nth-child(even) div {
        left: calc(-16rem - 2.5rem + .4rem);
        
    }
}

@media(max-width:600px) {
    #timeline>ul>li {
        margin-left: 1.5rem;
    }

    #timeline ul li div {
        width: calc(100vw - 90px);
    }

    #timeline ul li:nth-child(even) div {
        left: 2.5rem;
    }

    /* Right Side Arrows */
    #timeline ul li:nth-child(even) div::before {
        left: -15px;
        border-width: 8px 16px 8px 0;
        border-color: transparent var(--secondary-color)transparent transparent;
    }
}