:root {
    --text-primary: #1a1a1a;
    --border-radius: .2rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: normal 1rem/1.5 'Montserrat', sans-serif;
    color: var(--text-primary);
    overflow-X: hidden;
    background: linear-gradient(to right top, #fff, #fafafa, #f5f5f5, #f1f1f1, #e1e1e1), url(/02.png);
    background-blend-mode: multiply;
}

/* Timeline================================ */
#timeline {
    overflow-x: hidden;
}

#timeline h1 {
    padding: 2rem 2.5rem;
}

#timeline ul li {
    list-style: none;
}

/* Create Line */
#timeline>ul>li {
    position: relative;
    width: .4rem;
    margin: 0 auto;
    padding-top: 50px;
    background: var(--text-primary);
    border-radius: var(--border-radius);
}